*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui;
}
    
.outerbox{
	display: none;
}
.dest-text{
	background: rgb(247, 245, 245);
	width: 100%;
	height: 100vh;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: rgb(56, 46, 34);
	
}
@media screen and (min-width: 320px) and (max-width: 800px){

	.outerbox{
		display: block;
		width: 100%;
		float: left;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
    }
	.header{
		width: 100%;
		float: left;
	}
    .navbarr{
        width: 100%;
        height: 60px;
        float: left;
        background-color: #f8f8f8;
    }
    .ins-logo{
        width: 50%;
        height: 100px;
        float: left;  
    }
    .right-icon{
        width: 50%;
        height: 70px;
        float: left;   
    }
    .header-icon1{
        font-size: 22px;
        float: left;       
        padding-left: 53%;
        padding-top: 16px;
    }
 .head-loc{
    font-size: 22px;
    float: left; 
    padding-left: 20px;
    padding-top: 16px;      
 }
 .sto-main-row{
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
 }
 .stroy-box1{
    width: 59px;
    height: 60px;
    border-radius: 50%;
    float: left;
    background-image: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    background-position: center;
    background-size: cover;
 }
 .stroy-box2{
    width: 57px;
    height: 60px;
    border-radius: 50%;
    float: left;
    background-image: url('images/story.webp');
        background-size: cover;  
 }
 .stroy-box3{
    width: 57px;
    height: 60px;
    border-radius: 50%;
    float: left;
    background-image: url('images/sto3.jpg');
 background-size: cover;  
 }

 .stroy-box4{
    width: 57px;
    height: 60px;
    border-radius: 50%;
    float: left;
    background-image: url('images/str4.jpg');
 background-size: cover;  
 }
 .stroy-box5{
    width: 57px;
    height: 60px;
    border-radius: 50%;
    float: left;
    background-image: url('images/str5.jpg');
 background-size: cover;  
 }
 h5{
    font-size: 9px;
    padding-top: 61px;
    font-weight: bold;
    color: #000000c4;
 }
 h6{
    padding-top: 61px;
    text-align: center;
    font-size: 10px;
 }
 .sto2-col{
    width: 100%;
    height: 41px;
    float: left;
    margin-top: 17px;
    background-color: #f3f3f3;
 }
 .col2-left-box{
    width: 60%;
    height: 133px;
    float: left;
 }
 .col2-right-box{
    width: 40%;
    height: 133px;
    float: right;
 }
 .my-img{
    width: 32px;
    height: 30px;
    border-radius: 50%;
    background-image: url('images/5.jpg');
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    margin-top: 5px;
 }

 .dot-icon{
    font-size: 19px;
    margin-right: 18px;
    margin-top: 8px;
    float: right;
 }
 .ins-img{
    width: 100%;
    height: 40vh;
    float: left;
}
.ins-img2{
    width: 100%;
    height: 36vh;
    float: left;
}
.ins-img3{
    width: 100%;
    height: 40vh;
    float: left;
    margin-top: -28%;
}
.girlimg{
    width: 100%;
    height: 245px;
}
 h2{
    margin-top: -55px;
    margin-left: 19%;
    font-weight: bold;
 }
	.footer{
		width: 100%;
		float: left;
		background-color: #ebe5e5;
		position: fixed;
		bottom: 0;
		text-align: center;	
	}
    .icon-main{
        background-color: #ebe5e5; 
    }
    .box1{
        display: flex;
        margin: 14px;
        justify-content: space-between;
    }
	a{
		text-decoration: none;
		color: black;
		font-size: 50px;
		font-weight: bold;
	}
	.heading-text{
		font-size: 40px;
		text-align: center;margin-top: 30px;
	}
    .home-icon{
        width: 21px;
        height:21px;
        float: left;
        background-image: url('images/home-ic.png');
        background-position: center;
        background-size: cover;
    }
    .search-icon{
        width: 21px;
        height: 21px;
        float: left;
        background-image: url('images/search.png');
        background-size: cover; 
    }
    .upload-icon{
        width: 21px;
        height: 21px;
        float: left;
        background-image: url('images/upload.png');
        background-size: cover; 
    }

    .viedo-icon{
        width: 21px;
        height: 21px;
        float: left;
        background-size: cover;
        background-image: url('images/video.png');
    }
    .profile-icon{
        width: 21px;
        height: 21px;
        float: left;
        background-image: url('images/1.jpg');
        background-size: cover;
        background-position: center;
        background-color: none;
    }
	.dest-text{
		display: none;
	}
    
    .ins-icon3{
        width: 100%;
        height: 50px;
        float: left;
    }
    .stroy-left-box{
        width: 49%;
        height: 50px;
        float: left;
    }
    .stroy-right-box{
        width: 49%;
        height: 50px;
        float: right;
    }
    .my-icon-3{
        float: left;
        padding-left: 10px;
        padding-top: 11px;

    }
    .stroy-low{
        float: left;
        padding-left: 15px;
        padding-top: 11px;
    }
    .stroy-commit{
        float: left;
        padding-left: 15px;
        padding-top: 11px;
    }
    .str-right-icon{
        float: right;
        padding-right: 10px;
        padding-top: 11px;
    }
}
@media screen and (min-width: 390px) and (max-width: 410px){

	.outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 200vh;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
    }
    .sto2-col{
        width: 100%;
        float: left;
        margin-top: 17px;
        background-color: #f3f3f3;
     }
     .ins-img3{
        width: 100%;
        height: 36vh;
        float: left;
        margin-top: -23%;
    }

}
@media screen and (min-width: 410px) and (max-width: 440px){
    .outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 200vh;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
    }
    .sto2-col{
        width: 100%;
        float: left;
        margin-top: 17px;
        background-color: #f3f3f3;
     }
     .ins-img3{
        width: 100%;
        height: 40vh;
        float: left;
        margin-top: -22%;
    }

}
@media screen and (min-width: 440px) and (max-width: 460px){
    .outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 200vh;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
    }
    .sto2-col{
        width: 100%;
        float: left;
        margin-top: 17px;
        background-color: #f3f3f3;
     }
     .ins-img3{
        width: 100%;
        height: 40vh;
        float: left;
        margin-top: -21%;
    }  
}

@media screen and (min-width: 460px) and (max-width: 500px){
    .outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 200vh;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
    }
    .sto2-col{
        width: 100%;
        float: left;
        margin-top: 17px;
        background-color: #f3f3f3;
     }
     .ins-img3{
        width: 100%;
        height: 40vh;
        float: left;
        margin-top: -20%;
    }  
}

@media screen and (min-width: 480px) and (max-width: 550px){
    .outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 200vh;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
    }
    .sto2-col{
        width: 100%;
        float: left;
        margin-top: 17px;
        background-color: #f3f3f3;
     }
     .ins-img3{
        width: 100%;
        height: 40vh;
        float: left;
        margin-top: -19%;
    }  
}