*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui;
}

.outerbox{
	display: none;
}


.dest-text{
	background: rgb(247, 245, 245);
	width: 100%;
	height: 100vh;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: rgb(56, 46, 34);
	
}
@media screen and (min-width: 320px) and (max-width: 1000px){

	.outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 100vh;
	}
    .h1{
        display: none;
        background: rgb(247, 245, 245);
        width: 100%;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(56, 46, 34); 
   
    }
	.header{
		width: 100%;
		height: 90vh;
		float: left;
		background-color: rgb(252, 252, 252);
	}
	.footer{
		width: 100%;
		height: 10vh;
		float: left;
		background-color: whitesmoke;
		position: fixed;
		bottom: 0;
		text-align: center;	
	}
    .box1{
        margin-top: 15px;
        display: flex;
        margin: 20px;
        justify-content: space-between;
    }
	
	
	a{
		text-decoration: none;
		color: black;
		font-size: 50px;
		font-weight: bold;
	}
	.heading-text{
		font-size: 40px;
		text-align: center;margin-top: 30px;
	}
    .home-icon{
        width: 70px;
        height: 70px;
        float: left;
        background-image: url('images/home-ic.png');
        background-position: center;
        background-size: cover;
    }
    .search-icon{
        width: 70px;
        height: 70px;
        float: left;
        background-image: url('images/search.png');
        background-size: cover; 
    }
    .upload-icon{
        width: 70px;
        height: 70px;
        float: left;
        background-image: url('images/upload.png');
        background-size: cover; 
    }

    .viedo-icon{
        width: 70px;
        height: 70px;
        float: left;
        background-size: cover;
        background-image: url('images/video.png');
    }
    .profile-icon{
        width: 70px;
        height: 70px;
        float: left;
        background-image: url('https://t4.ftcdn.net/jpg/06/28/16/77/240_F_628167759_Cn4fKq1kh2CgiJrvI8C1rVpb2JZvhJxZ.jpg');
        background-size: cover;
        background-position: center;
    }
	.dest-text{
		display: none;
	}	
}